@media screen and (max-width: 800px){
	.sideContainer{
		display: none;
	}
} 
.mainContainer{
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	width: 40%;
	height: 400px;
	background-color: blue;
	border-radius: 10px;
}
.sideContainer{
	position: absolute;
	width: 20%;
	height: 300px;
	top: 50px;
	background-color: purple;
	border-radius: 10px;
}
.mainContainer img, .sideContainer img{
	position: relative;
	transform: translate(0%, -50%);
}
.leftContainer{
	left: 50px;
}
.rightContainer{
	right: 50px;
}
.clickArea{
	position: absolute;
	opacity: 0;
	width: 50%;
	margin-right: -4px;
	background-color: purple;
	border-radius: 10px;
	cursor: pointer;
}
.center{
	top: 50%;
	bottom: 50%;
}
.prevClickArea{
	left:0px;
    transform: translate(0%, -50%);
}
.nextClickArea{
    right:4px;
    transform: translate(0%, -50%);
}
div .nextBtn, div .prevBtn{
	position: absolute;
	width: 30px;
	height: 70px;
	background-color: purple;
	z-index: 1;
	top: 50%;
	bottom: 50%;
	transform: translateY(-50%);
	opacity: 0.5;
	border-radius: 5px;
	font-size: 35px;
	font-weight: bold;
	line-height: 70px;
	text-align: center;
	cursor: pointer;
}
div .nextBtn:hover, div .prevBtn:hover{
	opacity: 1 !important;
}
.nextBtn{
	right: 5px;
}
.prevBtn{
	left: 5px;
}
#collection{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: grey;
	position: relative;
	left: 50%;
	right: 50%;
	transform: translate(-50%);
	border-radius: 10px;
	width: 600px;
}
#collection img{
	width: 100px;
	height: 100px;
	cursor: pointer;
}
#collection img:hover{
	background: blue;
	border-radius: 5px;
}
.output{
	position: absolute;
	left: 5px;
	bottom: 5px;
	width: 300px;
	height: 100px;
	/*margin: 0px;*/
	/*left: 50%;*/
	/*transform: translateX(-50%);*/
	background-color: grey; 
}